
.dark-mode{
    background-color:black;
}

div input{
    display: none;
}

div label{
    display: block;
    width:130px;
    height:55px;
    border-radius:30px;
    background-color:skyblue;
    transition:background 300ms linear;
    cursor: pointer;
}

div label::before{
    position: absolute;
    left:13px;
    top:13px;
    display: block;
    content: "";
    width:45px;
    height:45px;
    border-radius:100%;
    background-color: white;
    transition:left 300ms linear;
    z-index:5;
}

div input:checked + label{
    background-color: darkblue;
}

div input:checked + label::before{
    left:86px;
}

img{
    width:43px;
}

#moon{
    position: absolute;
    bottom:943px;
    left:14px;
    z-index:1;
}

#sun{
    position: absolute;
    top:14px;
    left:88px;
    z-index:1;
}